[DEFAULT]

[client]
# You can put the name of the person this account belongs to here
# I like to also put the parser class associated with this account here
# e.g. TradingCryptoCoach for Jane Smith
name = supreme
email = revshareworks.whitesweater@blogger.com

[account]
exchange = binance
apikey = 21XAlqxP451uTWBk0J7K6o6aGSU7QdL49uGj4bOjD5DgmzhuNLZ9Ypnv6zKUFGsm
secret = BXIa42waNgR2jptC6oD5w0GcGBswpmg6uaOriMRzgBO9bNJ2Z4gTmoRuw1Ovhvnl

# trade means "trade 5% of the seed capital on each trade".
# if deposit = 1 and trade = 5 then 0.05 BTC worth of coin will be bought on each trade.

deposit     = 0.1
trade       = 5
takeprofit  = 5

# preserve means "do not use this much of the seed capital to trade with"
# most likely, you do not want to withdraw your profits each day
# but instead you can tell SurgeTrader to not use this much of your BTC
# that way you can wait and withdraw another day.
preserve    = 0.0
